html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    height: 100%;
    min-width: auto;
}
main {
    height: 100%;
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;

}
.add-task-button {
    align-self: flex-start;
    margin-left: 50px
}