html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    height: 100%;
    min-width: auto;
}
main {
    height: 100%;
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}